language: csharp
notifications:
  slack: unolabs:cbusXPH6pBwZ35rVDzi4k4ve
mono: none
dotnet: 3.0.100
matrix:
  include:
    - os: linux
      dist: xenial
      sudo: false
    - os: osx
      osx_image: xcode11
install:
  - npm ci
  - dotnet restore
script:
  - node ./mail.js &
  - node ./web.js &
  - node ./tcp.js &
  - node ./ntp.js &
  - cd ./test/Swan.Test/
  - dotnet test Swan.Test.csproj
after_script:
  - killall -9 node
