language: csharp
notifications:
  slack: unolabs:cbusXPH6pBwZ35rVDzi4k4ve
mono: none
dotnet: 2.0.0
matrix:
  include:
    - os: linux
      dist: trusty
      sudo: false
    - os: osx
      osx_image: xcode9.1
install:
  - pip install snmpsim
  - npm install maildev
  - npm install ldapjs
  - dotnet restore
script:
  - node ./mail.js &
  - node ./ldap.js &
  - node ./LdapClient.js
  - cd ./test/Unosquare.Swan.Test/
  - dotnet test Unosquare.Swan.Test.csproj -s .runsettings -f netcoreapp2.0
